@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playwrite+AU+QLD:wght@100..400&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", "Playwrite+AU+QLD", "Winky Rough", "Roboto",
    "Times New Roman", Times, serif;
}

.header {
  background-color: #1f2937;
  height: 400px;
  width: 100%;
}

.info-container {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  width: 900px;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.whale-image {
  flex-shrink: 0;
  /* display: flex; */
  justify-self: flex-start;
}

.links ul {
  display: flex;
  gap: 60px;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.hero-img {
  display: flex;
  width: 900px;
  gap: 60px;
}

h2 {
  font-size: 48px;
  color: #f9faf6;
}

.motto,
a {
  font-size: 18px;
  color: #e5e7eb;
}

#whales {
  font-family: "Abril Fatface", "Bebas Neue", sans-serif;
  font-size: 24px;
  color: #f9faf6;
}

.motto {
  padding-top: 20px;
  padding-bottom: 50px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 8px 25px;
  background-color: #3882f6;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #548eeb;
}

.showcase-hero-text {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 900;
  color: #1f2937;
}

.showcase-images {
  border: 2px solid #3882f6;
  height: 100px;
  width: 100px;
  border-radius: 7px;
}

.showcase-images-container {
  display: flex;
  justify-content: center;
  height: 200px;
  text-align: center;
  gap: 80px;
}

.review-section-container {
  background-color: #e5e7eb;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review-section {
  width: 600px;
  /* border: solid; */
  font-size: 30px;
  font-weight: 300;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont;
  /* display: flex;
  align-items: center; */
  letter-spacing: -0.5px;
}

.reviewer {
  /* border: solid; */
  width: 600px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.call-to-action-container {
  background-color: #f9faf6;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf6;
}

.call-to-action-content {
  background-color: #3882f6;
  width: 900px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-button {
  background-color: #3882f6;
  color: #f9faf6;
  border: 2px solid #f9faf6;
  border-radius: 5px;
  padding: 6px 25px;
}

.signup-button:hover {
  background-color: #f9faf6;
  color: #3882f6;
  cursor: pointer;
}

.call-to-action {
  /* border: solid; */
  width: 600px;
}

.signup {
  display: flex;
  justify-content: space-between;
}

.signup p {
  font-size: 15px;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont;
  display: flex;
  align-self: flex-end;
}

.call-to-action-content > p {
  font-weight: 600;
}

.copyright {
  background-color: #1f2937;
  height: 100px;
  color: #f9faf6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
