@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playwrite+AU+QLD:wght@100..400&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", "Playwrite+AU+QLD", "Winky Rough";
}

header {
  background-color: #1f2937;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  padding: 8px 20px;
  background-color: #3882f6;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #246fe7;
}
